<h1>Create a Project</h1>

<form>
  <input type="text" name="project[title]"
         value="" placeholder="Name the project">
  <textarea id="description"
            name="project[description]"
            rows="8"
            cols="40"
            placeholder="Add a description"></textarea>
  <button class="new-project-button">Create</button>
   or
  <a href="#">Cancel</a>
</form>
