<h1>Your Projects</h1>
<a href="#user/edit">
  <span class="edit-user-link">Edit your profile</span>
</a>
 <% projects.forEach(function(project) { %>
   <li class="project-tile">
     <a href="#projects/<%= project.id %>"></a>
     <h2 class="project-title"><%= project.escape("title") %></h2>
     <span class="ownership-status">
       <% if (project.get("owner_id") === project.get("current_user_id")) { %>
         Owner
       <% } else { %>
         Collaborator
       <% } %>
     </span>
     <p class="project-description">
       <%= project.escape("description") %>
     </p>
    </li>
 <% }) %>
<li class="new-project-tile">
  <a href="#projects/new"></a>
  <h2>Create New Project</h2>
  <p>
    Your journey begins here.
  </p>
</li>
