<a href="#projects/new">Create New Project</a>
<br>
<h1>Projects</h1>
 <% projects.forEach(function(project) { %>
   <li>
     <h2><%= project.escape("title") %></h2>
     <p>
       <%= project.escape("description") %>
     </p>
     <button>Delete</button>
    </li>
 <% }) %>
