<a href="#projects/new">Create New Project</a>
<br>
<h1>Projects</h1>
 <% projects.forEach(function(project) { %>
   <li class="project-tile">
     <h2 class="project-title"><%= project.escape("title") %></h2>
     <p class="project-description">
       <%= project.escape("description") %>
     </p>
    </li>
 <% }) %>
