<h1>New Project</h1>

<form class="new-project-form">
  <label for="title">Title</label>
  <input id="title" type="text" name="project[title]" value="">
  <br>
  <label for="description">Description</label>
  <textarea id="description"
            name="project[description]"
            rows="8"
            cols="40"><%=  %></textarea>
  <br>
  <button class="new-project-button">Create</button>
</form>
