
<header class="root-header">
  <nav class="group">
    <ul class="main-header">
      <li><a href="#">
        <img class="root-logo" src="https://s3.amazonaws.com/spacecamp-static-images/SpaceCamp-logo.png" alt="SpaceCamp Logo"></a>
      </li>
      <li class="all-projects"><a href="#">All Projects</a></li>
    </ul>
    <section class="user-info">
      <li><img src="<%= current_user.avatar.url(:thumb) %>"></li>
      <ul>
        <li class="header-name"><%= current_user.fname %> <%= current_user.lname %></li>
        <li><%= render "logout_button" if logged_in? %></li>
      </ul>
    </section>
  </nav>
</header>
