
<header class="root-header">
  <nav class="group">
    <ul class="main-header">
      <li><a href="#">SpaceCamp -- All Projects</a></li>
    </ul>
    <section class="user-info">
      <li><img src="<%= current_user.avatar.url(:thumb) %>"></li>
      <ul>
        <li class="header-name"><%= current_user.fname %> <%= current_user.lname %></li>
        <li><%= render "logout_button" if logged_in? %></li>
      </ul>
    </section>
  </nav>
</header>
