<% if (comment.isNew()) { %>


<form class="">
	<textarea name="content"
						rows="8" cols="40"
						placeholder="Enter a new comment here..."></textarea>
	<br>
	<button>Add this comment</button>
</form>
<% } else { %>
	<form class="">
		<textarea name="content"
							rows="8" cols="40"><%= comment.escape("content") %></textarea>
		<button class="submit">Edit</button>
		or
		<span class="cancel">Cancel</span>
	</form>
<% } %>
