
<span class="name"><%= comment.escape("author_fname") %> <%= comment.escape("author_lname") %></span>
<p class="comment"><%= comment.escape("content") %></p>
<span class="time">Posted <%= time %></span>
<% if (comment.get("is_author")) { %>

<button class="edit-button">Edit</button>
or
<button class="delete-button">Delete</button>

<% } %>
