<h2><strong>To Do Item Form</strong></h2>

<form class="todo-item-form">
  <label for="description"></label>
  <br>
  <input id="description" type="text"
         name="description"
         value="<%= item.escape("description") %>">
  <br>
  <button>Create Item</button>
</form>
