<br>
<form class="todo-item-form">
  <button>Create Item</button>
  <label for="description">Task</label>
  <br>
  <input id="description" type="text"
         name="description"
         value="<%= item.escape("description") %>">
  <br>
</form>
