<input type="checkbox"
       name="todo_item[completed]"
       class="completion-box"
       <% if (item.get("completed")) { %>checked<% } %>>
<article>
  <%= item.escape("description") %>
  <span class="assigned-user">
    <% if (collaborator) { %>
      <%= collaborator.escape("fname") %> <%= collaborator.escape("lname") %>
    <% } %>
  </span>
</article>
