<input type="checkbox"
       name="todo_item[completed]"
       class="completion-box"
       <% if (item.get("completed")) { %>checked<% } %>>
<article class="item-info">
  <%= item.escape("description") %>
  <% if (collaborator) { %>
    <span class="assigned-user">
      <%= collaborator.escape("fname") %> <%= collaborator.escape("lname") %>
    </span>
  <% } %>
</article>
<button class="show-item-edit-form">Edit</button>
<section class="todo-item-edit-form"></section>
