<form>
  <br>
  <input id="title" type="text"
         name="todo_list[title]"
         value="<%= list.escape("title") %>"
         placeholder="Give the list a title">

  <input id="description" type="text"
         name="todo_list[description]"
         value="<%= list.escape("description") %>"
         placeholder="Give the list a description">
  <br>
  <button class='submit'>Save and start adding to-dos</button>
  or
  <span class='cancel'>Cancel</span>
</form>
<br>
