<form>

  <button>Create a new List</button>
  <label for="title">Title</label>
  <br>
  <input id="title" type="text"
         name="todo_list[title]"
         value="<%= list.escape("title") %>">
  <br>
  <label for="description">Description</label>
  <br>
  <input id="description" type="text"
         name="todo_list[description]"
         value="<%= list.escape("description") %>">
  <br>
</form>
