<a class="project-link"
   href="<%= "#projects/" + project.id %>"><%= project.escape("title") %></a>
<span class="todo-lists-head">To-Do Lists</span>
<button class="todo-list-form-show">Add a to-do list</button>

<section class="todo-lists"></section>
