<form class="new-todo-list">
  <input type="hidden" name="project_id" value="<%= project.id %>">
  <label for="title">Title</label>
  <input id="title" type="text" name="todo_list[title]" value="">

  <label for="description">Description</label>
  <input id="description" type="text" name="todo_list[description]" value="">
  <br>
  <button>Create a new List</button>
</form>
