<p class="todo-list-title"><%= list.escape("title") %></p>
<p class="todo-list-description"><%= list.escape("description") %></p>

<button class="show-list-edit-form">Edit</button>
<section class="todo-list-edit-form"></section>

<ul class="todo-items" id="sortable<%= list.id %>"></ul>
