.project-link {
  color: #1c5c76;
  text-decoration: underline;
  font-size: 24px;
  padding: 20px 20px 20px 0px;
  font-weight: bold;
}

.project-show {

  .project-header {
    position: relative;

    h1 {
      font-size: 24px;
      font-weight: bold;
      padding: 20px 20px 10px 20px;
    }

    h2 {
      font-size: 16px;
      padding: 0px 0px 20px 20px;
      color: #aa9c84;
    }

    a {
      position: absolute;
      top: 25px;
      right: 25px;
      color: #1c5c76;
      text-decoration: underline;
    }
  }



  > span {
    font-weight: normal;
    font-size: 20px;
    padding: 0px 0px 10px 20px;
    color: #900;
  }

  .new-discussion {
    margin-left: 10px;
    display: inline;
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 0px 1px 0px #ddd;
    position: relative;
    top: -2px;


    &:active {
      background-color: #ccc;
      color: black;
    }
  }

}
