.project-show {

  h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
  }

  > span {
    font-weight: normal;
    font-size: 20px;
    padding: 0px 0px 10px 20px;
  }

  .new-discussion {
    display: inline;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: green;

    &:active {
      background-color: blue;
      color: white;
    }

}
