.root-logo {
  height: 60px;
  float: left;
  display: inline-block;
}

.root-header {
  background: black;
  width: 1000px;
  margin: auto;

  nav {
    width: 920px;
    margin: auto;
    background: black;
  }

  a {
    border: 0px solid white;
    color: white;
  }
}


.user-info {
  float: right;

  > li {
    float: left;

    > img {
      height: 60px;
    }
  }

  > ul {
    float: right;
    margin-top: 10px;
  }
}

.main-header {
  float: left;
  margin: 0px 0px 0px 20px;
  font-size: 24px;
  color: #eee;

  li {
    float: left;
  }

  .all-projects {
    margin-top: 20px;
    border-left: 1px solid #eee;
    padding-left: 10px;
    margin-left: 10px;
  }

  a {
    color: #eee;
  }

  a:hover {
    color: lightblue;
  }

  a:active {
    color: #9CC2CF;
  }
}

.header-name {
  text-align: center;
  padding: 2px 10px;
  width: 100px;
  font-size: 80%;
  color: white;
}

.logout-button button {
  text-align: center;
  padding: 2px 5px;
  width: 80px;
  cursor: pointer;
  margin: auto;
  font-size: 100%;
  border: 1px solid white;
  color: white;

  &:hover {
    background-color: #aaa;
  }

  &:active {
    background: transparent;
  }
}
