// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transparent-background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 20%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: auto;
  display: block;
  border-radius: 20%;
}

#login-page {
  width: 1000px;
  margin: auto;
  margin-top: 250px;
  min-width: 500px;

  .errors {
    text-align: center;
    display: block;
    margin: auto;
    background-color: darkred;
    color: white;
    width: 80%;
    border-radius: 5px;
  }

  button {
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 5px;

    &:active {
      background-color: lightblue;
    }
  }

  .site-name {
    color: white;
    margin: auto;
    display: block;
    text-align: center;
  }

  .guest-login-button {
    background-color: green;
    padding: 10px 20px;
    width: 13%;
    color: white;
  }

  .new-session-button {
    background-color: #0066FF;
    color: white;
    padding: 5px 10px;
    border: 1px solid green;
    font-size: 20px;
    margin-top: 20px;
  }

  .sign-up-link {
    width: 9%;
    background-color: white;
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;

    &:active {
      background-color: lightblue;
    }
  }

  .no-show {
    display: none;
  }

  input {
    display: block;
    margin: auto;
    border: 1px solid #aaa;
    padding: 10px 0px 10px 20px;
    outline: none;
    background-color: #eee;
    width: 20%;

    &:focus {
      background-color: white;
    }
  }

  .input-email {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .input-password {
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

#sign-up-page {
  width: 1000px;
  margin: auto;
  margin-top: 250px;

  h1 {
    text-align: center;
    color: white;
  }

  input {
    display: block;
    margin: auto;
    border: 1px solid #aaa;
    border-bottom: none;
    padding: 10px 0px 10px 20px;
    outline: none;
    background-color: #eee;
    width: 20%;

    &:focus {
      background-color: white;
    }
  }

  .email {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .password {
    border-bottom: 1px solid #aaa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .new-user-button {
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 5px;
    background-color: #0066FF;
    color: white;
    padding: 5px 10px;
    border: 1px solid green;
    font-size: 20px;
    margin-top: 20px;

    &:active {
      background-color: lightblue;
    }
  }

  .sign-in-link {
    width: 9%;
    background-color: white;
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px 20px;
    margin: auto;
    border-radius: 5px;

    &:active {
      background-color: lightblue;
    }
  }
}
