// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-lists-index {
  margin-left: 20px;

  .todo-lists-head {
    font-size: 20px;
    color: #900;
    padding: 0px 0px 10px 20px;
  }
}

.todo-list-form-show {
  margin-left: 10px;
  display: inline;
  padding: 3px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0px 1px 0px #ddd;
  color: black;
  cursor: pointer;
  position: relative;
  top: -2px;

  &:active {
    background-color: #ccc;
  }
}

.todo-list {
  margin: 20px 0px 0px 20px;
  .todo-list-title {
    font-weight: bold;
  }

  .todo-list-description {
    font-style: italic;
    margin-bottom: 10px;

  }

  .todo-items {
    margin-left: 10px;
  }
}

.todo-lists .show {
  display: block;
}

.todo-list-form {
  width: 90%;
  display: none;
  margin-left: 20px;

  #title {
    border: none;
    border-bottom: 1px dotted black;
    width: 100%;
    font-size: 16px;
    outline: none;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  button {
    display: inline;
    padding: 2px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    background-color: white;
  }

  .cancel {
    display: inline;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: #1c5c76;
    }
  }
}
